/* bouzouita david css
*
*
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.form-check-input {
  position: absolute;
  margin-top: 0;
}

.form-check-label {
  margin-bottom: 4px;
}

html {
  background: inherit;
}

header {
  font-family: "Shadows Into Light", cursive;
  position: absolute;
  top: -50px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  color: #512F4B;
  font-family: "Nunito Sans", sans-serif;
  margin: auto;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: inherit;
  flex-wrap: wrap;
}

.todoGroup {
  position: relative;
  transition: all 0.7s;
  background: white;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.todoGroup .cardGroup {
  width: 100%;
}
.todoGroup .cardGroup h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 7px;
}
.todoGroup .cardGroup .listGroup, .todoGroup .cardGroup .archivedGroup, .todoGroup .cardGroup .addGroup {
  transition: all 0.5s;
  background: #DEDBD8;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}
.todoGroup .cardGroup .listGroup .btn, .todoGroup .cardGroup .archivedGroup .btn, .todoGroup .cardGroup .addGroup .btn {
  width: 100%;
}
.todoGroup .cardGroup .listGroup:hover, .todoGroup .cardGroup .archivedGroup:hover, .todoGroup .cardGroup .addGroup:hover {
  transform: scale(1.05);
  box-shadow: 0px 12px 12px -8px grey;
  margin-bottom: 30px;
}
.todoGroup .cardGroup .archivedGroup {
  background: #D8FFDD;
}
.todoGroup .cardGroup .addGroup {
  background: #C3C49E;
}
